@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
    position: relative;
}

a {
    text-decoration: none;
}
  

button {
    border: none;
    outline: none;
    cursor: pointer;
}